<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, merci de cliquer sur le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Si vous n'êtes pas à l'origine de cet email, veuillez l'ignorer. </p>

<p>Merci et bonne navigation !</p>
