
            {{ form_start(commentForm) }}
                {{ form_row(commentForm.commentContent, { 'label' : 'Votre commentaire', 'attr' : {'placeholder' : 'Laissez votre commentaire'}}) }}
                <button type="submit" class="btn btn-warning">Envoyer</button>
            {{ form_end(commentForm) }}