
            {{ form_start(commentForm) }}
                {{ form_row(commentForm.commentContent, { 'label' : 'Laisser un commentaire', 'attr' : {'placeholder' : 'Tapez votre message', 'class': 'my-2'}}) }}
                <button type="submit" class="btn btn-outline-warning">Envoyer</button>
            {{ form_end(commentForm) }}