// scss-docs-start theme-color-variables
$primary:       #29B3FF;
$secondary: #FF4500;
$success : #35915D;
$danger : #DF362D;
$warning : #FEDA15;


$font-family-sans-serif: Roboto, "Helvetica Neue", "Noto Sans", system-ui, -apple-system, "Segoe UI", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
