// scss-docs-start theme-color-variables
$primary:       #0087CA;
$secondary: #FF4500;
$success : #35915D;
$danger : #DF362D;
$warning : #FEDA15;
$info : #29B3FF;

$font-size-base: 0.875rem;
$font-family-sans-serif: "Helvetica Neue", "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
