{% extends 'base.html.twig' %}

{% block body %}
    <h1> Oops ! Notre site rencontre un problème. </h1>

    <p> Veuillez nous excuser pour la gêne occasionnée et rendez-vous sur notre <a href="{{ path('home')}}">page d'accueil</a>.</p>
{% endblock %}