{% extends 'base.html.twig' %}

{% block body %}
    <h1> Vous n'avez pas accès à cette page.</h1>

    <p>Veuillez vous identifier sur <a href="{{ path('app_login')}}">ce lien</a> ou retourner sur <a href="{{ path('home')}}">la page d'accueil</a>.</p>
{% endblock %}