{% extends 'base.html.twig' %}

{% block body %}
    <div class="container p-2">
        <h1> Cette page n'existe pas ! </h1>

        <p> Poursuivez votre navigation en retournant sur <a href="{{ path('home')}}">la page d'accueil</a>.</p>
    </div>
{% endblock %}