<div class="col">
    {{ form_row(formTrick.file) }}
    <div class="form-group">
        <button type="button" class="btn btn-remove btn-link">
            <i class="fas fa-trash-alt fa-2x"></i>
        </button>
    </div>
</div>